---
layout: page
# All the Categories of posts
---

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col-6">
    <div class="card">
      <img src="/assets/img/projects/devil/main.JPG" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Developer Village, DEVIL</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">2020.10 ~ 2020.12</h6>
        <p class="card-text">개발자 커뮤니티 웹 사이트</p>
        <a href="#" class="card-link">상세정보</a>
        <a href="https://hayeon17kim.github.io/tags/devil/" class="card-link">개발일지</a>
        <a href="https://github.com/procompiler/developer-village" class="card-link">깃허브</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <img src="/assets/img/projects/hiwork/main.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">하이워크(HIWORK)</h5>
        <h6 class="card-subtitle mb-2 text-muted">2021.1 ~ 진행중</h6>
        <p class="card-text">업무 관리 시스템</p>
        <a href="https://hayeon17kim.github.io/tags/hiwork/" class="card-link">개발일지</a>
        <a href="https://github.com/muhan-memdori/hiwork" class="card-link">깃허브</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <img src="/assets/img/projects/nabi/main.JPG" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">나비</h5>
        <h6 class="card-subtitle mb-2 text-muted">2020-10</h6>
        <p class="card-text">일정 관리 콘솔 프로그램</p>
        <a href="https://github.com/hayeon17kim/hackathon-project" class="card-link">깃허브</a>
      </div>
    </div>
  </div>
</div>